.container {
    display: flex;
    justify-content: center;
    background: #BBBBBB;
}
.articles {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding: 15px;
    margin: 35px;
  }
  
  @media screen and (min-width: 525px) {
    
  }
  
  @media screen and (min-width: 800px) {
    
  }