.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45em;
    background-color: #BBBBBB;
    color: white;
    font-family: 'Inter', sans-serif;
}

.link{
    text-decoration: none;
    color: #556575;
    cursor: pointer;
  }
  .link:hover{
    color: #282828; 
  }