footer {
    height:3em;
    background-color:#484848;
    color: white;
    font-family: 'Inter', sans-serif;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin-left: 20px;
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
  }
  .link:hover{
    color: #282828; 
  }